.events {
    background-image: url("../assets/images/event_background.png");
    background-size: cover;
    background-position: center;

    padding: 140px 0 50px;
    margin-bottom: 50px;
    &__listing {
        margin-bottom: 100px;
    }

}

