.slider {
    &__right {
        padding-left: 133px;
        border: none;
        color: @black;
        background-color: transparent;
        transition: color 0.2s;
        &:hover {
            color: @red;
        }
    }
    &__left {
        padding-right: 133px;
        border: none;
        color: @black;
        background-color: transparent;
        transition: color 0.2s;
        &:hover {
            color: @red;
        }
    }
}