.body {
    font-family: "Open-Sans", sans-serif;;
}

.header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10%;
    max-height: 147px;;
    background-color: var(--1-header, rgba(222, 222, 222, 0.50));
    backdrop-filter: blur(10px);
}

.header__nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.link {
    color: var(--1, #1F1E1E);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}